.Agenda {
    background-color: #34495e;
    float: left;
    font-family: Helvetica;
    height: 100%;
    position: fixed;
    width: 20%;
    transition: margin 0.5s;
}

.Agenda a {
    color: #ecf0f1;
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

.Agenda a:first-child {
    margin-top: 50px;
}

.Agenda a:hover {
    background-color: #16a085;
}