.Slide {
    color: #2c3e50;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size:2rem;
}

.Slide h1 {
    font-size: 3em;
    margin: 20px;
}

.Slide p {
    font-size: 2em;
    margin: 20px;
}

.Slide img {
    max-height: 500px;
}

ul {
    line-height: 1.6;
    list-style: none;
    padding: 0;
}